ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: palevioletred;
}
.card {
    
  font-family: Arial, Helvetica, serif;
  background-color: rgb(48, 50, 65);
}

h2{
  color:white;
}
h3 {
  color: rgba(201, 197, 197, 0.695);
}
h4 {
  color : green;
  border-radius: 2px solid;
  border-color: green;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
#casella
{
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-left: 3px solid ;
  border-right: 3px solid ;
  border-radius: 4px;
  border-color : green;
}